.pdp-container {
  margin-top: 80px;
  display: flex;
  color: #1d1f22;
}

.pdp-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 500px;
  align-items: flex-start;
  font-size: 1rem;
}

.pdp-info-btn {
  text-transform: uppercase;
  background-color: #5ece7b;
  color: white;
  padding: 16px 32px;
  border: 0;
  cursor: pointer;
  width: 30vw;
}

.pdp-image {
  margin-right: 100px;
  width: 600px;
  height: 500px;
}

.pdp-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pdp-gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 500px;
  margin-right: 10px;
}

.pdp-gallery-img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.product-description {
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30vw;
  margin: 1em 0;
}

.pdp-price {
  font-family: Roboto Condensed;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: flex-start;
  text-align: center;
  flex-direction: column;
  color: #1d1f22;
  width: 30vw;
  margin-bottom: 1.5em;
}

.pdp-price h3 {
  margin: 0.8em 0;
}

.price {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 18px;
  color: #1d1f22;
}

.product-brand,
.product-name {
  font-size: 1.8rem;
  margin: 0.4em 0;
}
