.nav {
  width: 234px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.nav-list-item a {
  text-decoration: none;
  text-transform: uppercase;
  color: #1d1f22;
}
