.nav {
  width: 234px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.nav-list-item {
  text-decoration: none;
  text-transform: uppercase;
  color: #1d1f22;
  position: relative;
}

.nav-list-item__clicked {
  text-decoration: none;
  text-transform: uppercase;
  color: #5ece7b;
  position: relative;
}

.nav-list-item:hover {
  color: #5ece7b;
}

.nav-list-item::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #5ece7b;
  position: absolute;
  right: 0;
  left: 0;
  bottom: -1.5rem;
  transform: scale(0, 1);
  transition: transform ease-in-out 250ms;
}

.nav-list-item:hover::after {
  transform: scale(1, 1);
}
