.nav {
  width: 234px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.nav-list-item {
  text-decoration: none;
  text-transform: uppercase;
  color: #1d1f22;
  position: relative;
}

.active {
  padding-bottom: 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  color: #5ece7b;
  position: relative;
  border-bottom: 2px solid #5ece7b;
}
