.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0;
}

.cart-overlay {
  background: rgba(57, 55, 72, 0.22);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 56px;
}

.header-logo {
  width: 41px;
  height: 41px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  width: 204px;
  height: 40px;
  position: relative;
}

.actions-cart {
  width: 20px;
  height: 20px;
  margin-left: 22px;
  border: 0;
  background-color: white;
  cursor: pointer;
}

.currency {
  padding: 0 10px;
}

.currency-list-container {
  position: relative;
}

.currency-btn {
  background-color: white;
  border: 0;
  cursor: pointer;
}

.currency-listing-active {
  transform: rotate(180deg);
}

.currency-listing {
  width: 8px;
  height: 5px;
}

.cart-items-quantity {
  background: #1d1f22;
  border-radius: 60px;
  background-color: #1d1f22;
  width: 20px;
  height: 20px;
  position: absolute;
  right: -7%;
  top: 4%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
